.card {
    display: flex;
    position: relative;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card__img{
    width: 100px;
}

.card__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__actions {
    position: absolute;
    right: 0;
}